body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Using system fonts instead of custom fonts to reduce repository size */
/* GT Medium -> system-ui */
/* GT Regular -> system-ui */
/* GT Light -> system-ui */
/* GT Bold -> system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif */
/* GT Ultrabold -> system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif */